@charset "utf-8";

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*
{
    margin: 0;
    padding: 0;
}
ul, ol
{
    list-style-type: none;
}
a
{
    text-decoration: none;
    color: inherit;
}
.clearfix::after
{
    content: "";
    display: block;
    clear: both;
}
img
{
    vertical-align: middle;
}
body
{
    font-family: 'GmarketSansMedium';
    font-size: 25px;   
    line-height: 35px;
    background-color: #C3B6A6;
    color: #fff;
    min-width: 1500px;
}
#header_inner
{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
#logo
{
    position: absolute;
    top: 52px;
    left: 50%;
    transform: translate(-50%,0);
}
#top
{
    float: right;
}
#top li
{
    float: left;
    padding-left: 24px;
    padding-top: 89px;
}
#gnb
{
    clear: both;
    padding-top: 52px;
    height: 47px;
}
#gnb li
{
    float: left;
    width: 25%;
    letter-spacing: 2px;
}
#gnb li a 
{
    padding-bottom: 5px;
    display: inline-block;
    box-sizing: border-box;
}
#gnb li a:hover
{
    border-bottom: 2px solid #fff;
    transition: all;
}
#online
{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}
#online p
{
    font-size: 50px;
    letter-spacing: 2px;
    font-family: 'GmarketSansMedium';
    padding: 70px 0;
}
#online img
{
    margin-bottom: 70px;
}
#products
{
    background-image: url(images/round_text.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px;
    margin: 0 auto;
    height: 2294px;
}
.button
{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1.5px solid #fff;
}
.active .button
{
    background-color: #fff;
}
.tabs
{
    display: flex;
    justify-content: space-around;
    padding:120px 0;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 30px;
    font-family: 'GmarketSansLight';
    text-align: center;
    width: 800px;
    margin: 0 auto;
}
.tab_content ul{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.tab_content ul li
{
    float: left;
    width: 33.33%;
    padding-bottom: 120px;
}
#last
{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    background-image: url(images/small_elliipse.png);
    background-repeat: no-repeat;
    background-position: center;
}
#last p
{
    font-size: 45px;
    letter-spacing: 2px;
    font-family: 'GmarketSansMedium';
    padding: 170px 0;
}
#t_box
{
    width: 1320px;
    margin: 0 auto;
    height: 1065px;
    position: relative;
}
#t_box #text_box
{
    float: left;
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 55px;
    font-family: 'GmarketSansLight';
    padding-bottom: 80px;
    position: relative;
}
#text_box .bold
{
    font-family: 'GmarketSansMedium';
}
#text_box .a
{
    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'GmarketSansMedium';
    padding: 50px 0;
}
.ringing
{
    position: absolute;
    top: 798px;
    left: 0px;
    animation:po 0.5s linear infinite;
}
@keyframes po
{
  0%{transform: translateY(10px);}
  50%{transform: translateY(0px); scale: 1.1;}
  100%{transform: translateY(10px);}
}
.alarm
{
    position: absolute;
    top: 860px;
    left: 38px;
    animation:ro 0.5s linear infinite;
}
@keyframes ro
{
  0%{
    transform: rotate(10deg);
  }
  50%{
    transform: rotate(-10deg);
  }
  100%{
    transform: rotate(10deg);
  }
}
.ribbon
{
    position: absolute;
    top: 658px;
    left: 300px;
}
.papercup
{
    opacity: 0;
    position: absolute;
    top: -78px;
    left: 818px;
    animation:pose 6s linear infinite 2.5s;
}
.book
{
    opacity: 0;
    position: absolute;
    top: 70px;
    left: 860px;
    animation:pose 6s linear infinite 2s;
}
.jug
{
    opacity: 0;
    position: absolute;
    top: 315px;
    left: 830px;
    animation:pose 6s linear infinite 1.5s;
}
.kettle
{
    opacity: 0;
    position: absolute;
    top: 455px;
    left: 800px;
    animation:pose 6s linear infinite 1s;
}
.s_box
{   opacity: 0;
    position: absolute;
    top: 700px;
    left: 770px;
    animation:pose 6s linear infinite 0.5s;
}
@keyframes pose
{
  
    0%{transform: translateY(-150px);
        opacity: 1;
}
    10%{
        transform: translateY(0px);
        opacity: 1;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;

    }
}
.cart
{
    position: absolute;
    top: 560px;
    left: 700px;
    animation:posi 6s linear infinite 0s;
}
@keyframes posi
{
  
    0%{transform: translateX(1000px);
        opacity: 0;}
    10%{
        transform: translateX(0px);
        opacity: 1;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
#overflow
{
    overflow: hidden;
}
#footer
{
    background-image: url(images/f_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 580px;
}
#footer_inner
{
    width: 1320px;
    margin: 0 auto;
    padding: 80px 0;
}
#footer ul li
{
    color: #f0ede4;
}
#footer ul
{
    float: left;
    padding-top: 80px;
    padding-right: 70px;
}
#footer .capital
{
    padding-bottom: 60px;
    font-family: 'GmarketSansMedium';
    font-size: 25px;
    letter-spacing: 2px;
}
#footer ul li
{
    padding-bottom: 25px;
    font-family: 'GmarketSansLight';
    font-size: 20px;
    letter-spacing: 2px;
}
#footer .flr
{
    float: right;
    color: #4b4138;
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 50px;
    padding-right: 12px;
}
#footer .flr p
{
    padding-top: 77px;
}
.search4_1
{   width:394.34px;
    padding:10px;
    outline-style:none;
    border:none;
    border-bottom:2px solid #4b4138;
    background: none; 
    color: #4b4138;
    font-size: 22px;
    letter-spacing: 2px;
    font-family: 'GmarketSansMedium';
}
.search4_1::placeholder
{
    color: #4b4138;
    font-size: 22px;
    letter-spacing: 2px;
    font-family: 'GmarketSansMedium';
}
/*top_btn*/
.top_btn a{
    display: inline-block;
    border-radius: 50%;
    background-color: #4b4138;
    color:#fff;
    line-height: 60px;
    width: 60px;
    text-align: center;
  }
  
  .top_btn{
    position: fixed;
    right:40px;
    bottom:40px;
    z-index: 10;
  }
